body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    margin-top: 150px !important;
    background-color: #cacaca;
    border-radius: 25px;
}
